


@import "_header";


body {
	display: flex;
	justify-content:center;align-items: center;
	flex-direction: column;
	background-color: #555555;
	h1 {
		color: red;
		
	}
	font-size: 10px;
	div {
		font-size: 20px;
		//padding: 0px 0px 25px 0px;
		@media (max-width:$md1+px){
			margin: 0px 0px 0px 0px;
		}
	}
}


.block {
	// .block__item
	&__item {}
}

.red {
	color: red;
}
